---
---
{% include base_path.html %}
{% include gh_variables.html %}

<!doctype html>
<html lang="en">
  <head>
    <!-- <script type="application/ld+json">
      {{ page.bioschemas | jsonify }}
    </script> -->
    <script type="application/ld+json" >
      {
        "@context": "https://schema.org",
        "@id": "https://cloud-span.github.io/prenomics00-intro/",
        "@type": "TrainingMaterial",
        "about": [
          {
            "@id": "http://edamontology.org/topic_3372",
            "@type": "Thing"
          },
          {
            "@id": "http://edamontology.org/topic_0622",
            "@type": "Thing"
          }
        ],
        "abstract": "Prenomics prepares learners for the Cloud-SPAN Genomics course. It teaches the basics of command-line programming, including: (1) file directory structure, (2) use of command-line utilities to connect to and use cloud computing and storage resources and (3) basic shell commands for file navigation and basic script writing.",
        "audience": [
          {
            "@id": "Graduates",
            "@type": "Audience"
          },
          {
            "@id": "PhD students",
            "@type": "Audience"
          },
          {
            "@id": "Post-doctorates",
            "@type": "Audience"
          }
        ],
        "author": [
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [
              "ORCID: 0000-0002-1358-8275"
            ],
            "name": "Emma Rand"
          },
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [
              "ORCID: 0000-0001-9447-7421"
            ],
            "name": "James Chong"
          },
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [
              "ORCID: 0000-0001-8332-7196"
            ],
            "name": "Sarah Forrester"
          },
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [
              "ORCID: 0000-0001-9548-3110 "
            ],
            "name": "Annabel Cansdale"
          },
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [],
            "name": "Jorge Buenabad-Chavez"
          },
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [
              "ORCID: 0000-0003-4800-3422"
            ],
            "name": "Evelyn Greeves"
          },
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [
              "ORCID: 0000-0002-4914-5150"
            ],
            "name": "Emma Barnes"
          },
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "dct:conformsTo": "https://bioschemas.org/profiles/Person/0.2-DRAFT-2019_07_19",
            "description": [
              "ORCID: 0000-0002-8876-7606"
            ],
            "name": "Neil Chue-Hong"
          },
          {
            "@context": "https://schema.org",
            "@type": "Organization",
            "dct:conformsTo": "https://bioschemas.org/profiles/Organization/0.2-DRAFT-2019_07_19",
            "description": "University of York",
            "name": "University of York"
          },
          {
            "@context": "https://schema.org",
            "@type": "Organization",
            "dct:conformsTo": "https://bioschemas.org/profiles/Organization/0.2-DRAFT-2019_07_19",
            "description": "Software Sustainability Institute",
            "name": "Software Sustainability Institute"
          }
        ],
        "dct:conformsTo": "https://bioschemas.org/profiles/TrainingMaterial/0.8-DRAFT-2020_10_06",
        "description": "Prenomics prepares learners for the Cloud-SPAN Genomics course. It teaches the basics of command-line programming, including: (1) file directory structure, (2) use of command-line utilities to connect to and use cloud computing and storage resources and (3) basic shell commands for file navigation and basic script writing.",
        "educationalLevel": "Beginner",
        "identifier": [
          "10.5281/zenodo.6354056\t"
        ],
        "inLanguage": [
          "en"
        ],
        "keywords": "shell, command line tools, cloud computing, AWS, genomics, ",
        "learningResourceType": [
          "training course"
        ],
        "license": [
          {
            "@id": "https://creativecommons.org/licenses/by/4.0/",
            "@type": "CreativeWork"
          }
        ],
        "mentions": [
          {
            "@id": "https://gitforwindows.org/",
            "@type": "Thing"
          },
          {
            "@id": "https://cloud-span.github.io/00genomics/",
            "@type": "Thing"
          },
          {
            "@id": "https://datacarpentry.org/genomics-workshop/",
            "@type": "Thing"
          },
          {
            "@id": "10.1038/nature18959",
            "@type": "Thing"
          }
        ],
        "name": "Cloud-SPAN Prenomics Course",
        "teaches": [
          {
            "@id": "http://edamontology.org/topic_3372",
            "@type": "DefinedTerm"
          },
          {
            "@id": "http://edamontology.org/topic_3071",
            "@type": "DefinedTerm"
          },
          {
            "@id": "http://edamontology.org/topic_0622",
            "@type": "DefinedTerm"
          }
        ],
        "timeRequired": {
          "@id": "PT12H",
          "@type": "Duration"
        },
        "url": "https://cloud-span.github.io/prenomics00-intro/",
        "isPartOf": [
          {
            "@type": "CreativeWork",
            "url": "https://cloud-span.york.ac.uk/",
            "name": "Cloud-SPAN Training Courses"
          }
        ]
      }
      </script >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="last-modified" content="{{ site.time }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- meta "search-domain" used for google site search function google_search() -->
    <meta name="search-domain" value="{{ search_domain_url }}">
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/lesson.css" />
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/syntax.css" />
     <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/fonts.css" />
    {% if page.math %}
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/katex.min.css" />
    {% endif %}
    <link rel="license" href="#license-info" />

    {% include favicons.html %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  <title>
  {% if page.title %}{{ page.title }}{% endif %}{% if page.title and site.title %} &ndash; {% endif %}{% if site.title %}{{ site.title }}{% endif %}
  </title>

  </head>
  <body>
    {% include life_cycle.html %}

    <div class="container">
      {% include navbar.html %}
      {% include carpentries-commons.html %}

      {{ content }}

      {% if site.kind == "workshop" %}
      {% include workshop_footer.html %}
      {% else %}
      {% include lesson_footer.html %}
      {% endif %}
    </div>
    {% include javascript.html %}
  </body>
</html>
